{% extends "template.twig" %}

{% block title %}modeles{% endblock %}

{% block main %}
  <section class = "modeles">
    <h2><span>collection</span> <br> homme</h2>
    <ul class="collection produit">
      {% for tshirt in showTshirts %}
      <li>
        <img src="{{app.request.basePath}}/img/modeles/{{tshirt.image}}" alt=""></a>
        <p>T-shirt <span>{{tshirt.name}}</span></p>
        <p>{{tshirt.description}}</p>
        <div class ="commande">
          <p>{{tshirt.price}} €</p>
          <form action="">
            <select id="a{{tshirt.id}}" name ="produit" data-index ="{{tshirt.id}}">
            {% for i in 0..10 %}
                <option value={{ i }}>{{ i }}</option>
            {% endfor %}
            </select>
            <button id="add{{tshirt.id}}" onclick='updateBasket({{tshirt.id}},{{tshirt.price}}); return false;'><i id="fa{{tshirt.id}}" class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
{% block input %}
<form action="" placeholder ="votre-email" method="POST">
  <label for="">newsletter:</label>
  <input type="email" placeholder="VOTRE-EMAIL" name ="newsletter" required="required">
  <input type="submit" value = "envoyer">
</form>
{% endblock %}
