{% extends "template.twig" %}

{% block title %}home{% endblock %}

{% block main %}
    <div class = "panier container">
      <section class ="macommande">

        {% for tshirt in showTshirts %}
        <article id="art{{tshirt.id}}"class="hide">
          <img src="{{app.request.basePath}}/img/modeles/{{tshirt.image}}" alt=""/>
          <div>
            <p>T-shirt <span>{{tshirt.name}}</span></p>
            <form class = "quantity" method ="POST" action="/test">
              <label for="">Quantité</label>
              <input id="t{{tshirt.id}}" type="number" name="quantity" value="" onclick="updateQuantity({{tshirt.id}})"/>
              <button onclick="deleteArticle({{tshirt.id}}); return false;"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </form>
            <p>{{tshirt.price}}€</p>
          </div>
        </article>
        {% endfor %}
      </section>
      <aside class = "total">
        <h2>Total de ma commande</h2>
        <form id="basketForm" class ="infoUser" action="{{app.request.baseUrl}}/cart/validate" method="POST">
          {% for tshirt in showTshirts %}
          <article id="total{{tshirt.id}}" class="hide">
            <p>T-shirt {{tshirt.name}}</p>
            <p><span id="priceByQuantity{{tshirt.id}}"></span> x {{tshirt.price}} € </p>
            <input type="hidden" data-price="{{tshirt.price}}" name="product[]" value="{{tshirt.id}}"/>
            <input id="postQuantity{{tshirt.id}}" type="hidden" name="quantity[]" value=""/>
          </article>
          {% endfor %}
          <hr>
            <div>
              <label for="firstname">Prenom</label>
              <input type="text" name ="firstname" required="required"/>
            </div>
            <div>
              <label for="">Nom</label>
              <input type="text" name ="lastname" required="required"/>
            </div>
            <div>
              <label for="email">mail</label>
              <input type="email" name ="mail" required="required"/>
            </div>
            <div>
              <label for="adress">adresse</label>
              <input type="text" name ="adress" required="required"/>
            </div>
            <div>
              <label for="city">ville</label>
              <input type="text" name ="city" required="required"/>
            </div>
            <hr>
            <div class="check">
              <article>
                <p>Total du panier</p>
                <p id="totalBasket"></p>
                <input id="sum" class="hideTotal" type="text" name="total" value="">
              </article>
              <button id="sendCommand" name="checkBasket">je valide mon panier</button>
            </div>
          </form>
      </aside>
    </div>
    <script src="{{app.request.basePath}}/js/cart.js"></script>
{% endblock %}
