{% extends "template.twig" %}

{% block title %}home{% endblock %}

{% block main %}
    <div class = "panier container">
      <section class ="macommande">

        {% for tshirt in showTshirts %}
        <article id="art{{tshirt.id}}"class="hide">
          <img src="{{app.request.basePath}}/img/modeles/{{tshirt.image}}" alt="">
          <div>
            <p>T-shirt <span>{{tshirt.name}}</span></p>
            <div class = "quantity">
              <label for="">Quantité</label>
              <input id="t{{tshirt.id}}" type="number" value="">
            </div>
            <p>{{tshirt.price}}€</p>
          </div>
        </article>
        {% endfor %}
      </section>
      <aside class = "total">
        <h2>total de ma commande</h2>
        <p>t-shirt 1</p>
        <p>75€</p>
        <p>t-shirt 2</p>
        <p>75€</p>
        <p>total 150€</p>
      </aside>
    </div>
{% endblock %}
