{% extends "template.twig" %}

{% block title %}home{% endblock %}

{% block main %}
    <div class = "panier container">
      <section class ="macommande">

        {% for tshirt in showTshirts %}
        <article id="art{{tshirt.id}}"class="hide">
          <img src="{{app.request.basePath}}/img/modeles/{{tshirt.image}}" alt="">
          <div>
            <p>T-shirt <span>{{tshirt.name}}</span></p>
            <form class = "quantity">
              <label for="">Quantité</label>
              <input id="t{{tshirt.id}}" type="number" value="" onclick="updateQuantity({{tshirt.id}})">
              <button onclick="deleteArticle({{tshirt.id}}); return false;"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </form>
            <p>{{tshirt.price}}€</p>
          </div>
        </article>
        {% endfor %}
      </section>
      <aside class = "total">
        <h2>Total de ma commande</h2>
        {% for tshirt in showTshirts %}
        <article id="total{{tshirt.id}}" class="hide">
          <p>T-shirt {{tshirt.name}}</p>
          <p><span id="priceByQuantity{{tshirt.id}}"></span> x {{tshirt.price}} € </p>
        </article>
        {% endfor %}
        <hr>
        <form id="sendCommand" class ="infoUser" action="" method="POST">
          <div>
            <label for="firstname">Prénom</label>
            <input type="text" name ="firstname" required="required">
          </div>
          <div>
            <label for="">Nom</label>
            <input type="text" name ="lastname" required="required">
          </div>
          <div>
            <label for="mail">mail</label>
            <input type="mail" name ="mail" required="required">
          </div>
          <div>
            <label for="adresse">adresse</label>
            <input type="text" name ="adresse" required="required">
          </div>
          <div>
            <label for="ville">ville</label>
            <input type="text" name ="ville" required="required">
          </div>
          <hr>
          <div class="check">
            <article>
              <p>Total du panier</p>
              <p id="totalBasket"></p>
            </article>
            <button name="checkBasket">je valide mon panier</button>
          </div>
          </form>
      </aside>
    </div>
{% endblock %}
